.titulo-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cor-11);
}

#bicicletas .header-menu li:not(:first-child) a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: var(--cor-p1);
    transition: 0.3s;
    position: absolute;
}

#bicicletas .header-menu li:not(:first-child) a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
}

#bicicletas .header-menu li:first-child {
    color: var(--cor-p1);
}

.bicicletas {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-bg {
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%)
}

.bicicletas-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
}

.bicicletas-nimbus,
.bicicletas-magic {
    margin-bottom: 30px;
}

.bicicletas-img {
    display: grid;
}

.bicicletas-img img {
    grid-area: 1/1;
}

.bicicletas span {
    background-color: var(--cor-12);
    padding: 8px 16px 8px 8px;
    color: var(--cor-0);
    border-radius: 4px 0 0 4px;
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
}

.bicicletas-img img {
    grid-column: 1;
}

.bicicletas-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
    grid-column: 1/-1;
}


.bicicletas-conteudo li {
    display: flex;
    align-items: center;
}

.bicicletas-conteudo h3 {
    margin-bottom: 20px;
}

.bicicletas-conteudo h3::before {
    display: block;
    content: "";
    height: 8px;
    width: 12px;
    background: var(--cor-p1);
}

.bicicletas-conteudo p {
    margin-bottom: 32px;
}

.bicicletas-conteudo li {
    margin-bottom: 16px;
}

.bicicletas-conteudo a {
    align-self: end;
    display: flex;
    align-items: center;
}


.botao.seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../img/icones/seta.svg);
    transition: transform 0.2s;
}

.botao.seta:hover::after {
    transform: translateX(4px);
}

.bicicletas-conteudo img {
    width: 24px;
    margin-right: 8px;
}


@media (max-width: 800px) {
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .bicicletas-bg {
        background: var(--cor-11);
    }
}

@media (max-width: 600px) {
    .bicicletas {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .bibicletas-conteudo {
        grid-template-columns: 1fr;
    }

    .bicicletas a {
        grid-column: 1;
        place-self: start;
    }

    .bicicletas ul {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
        font-size: 1rem;
    }
}