.texto-grande {
    font-size: 4rem;
    line-height: 1.125;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.texto-medio {
    font-size: 1.5rem;
    max-width: 40ch;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}